CLOUDINARY_API_KEY="CLOUDINARY_API_KE"Y"
CLOUDINARY_API_SECRET="CLOUDINARY_API_SECRET"
CLOUDINARY_CLOUD_NAME="CLOUDINARY_CLOUD_NAME"
FRONTEND_PATH="http://localhost:3000"
JWT_SECRET="JWT_SECRET"
MONGO_PASSWORD="MONGO_PASSWORD"
MONGO_USERNAME="MONGO_USERNAME"
NODE_ENV="NODE_ENV"
SAMESITE="SAMESITE"
SENDGRID_API_KEY="SENDGRID_API_KEY"
SENDGRID_SECRET="SENDGRID_SECRET"

