NODE_ENV=development
PORT=8085
FRONTEND_PATH=http://localhost:8081
SENDGRID_API_KEY=your_sendgrid_api_key
ADMIN_EMAIL=admin@example.com
SENDGRID_FROM_EMAIL=admin@example.com
SENDGRID_FROM=admin@example.com
APP_TIMEZONE=Asia/Calcutta
